* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {

  background: black;
  color: white;

}


/* TITLE */

.title {

  text-align: center;

  margin-top: 30px;

  color: #ff3c00;

}


/* SEARCH */

.searchBox {

  text-align: center;

  margin: 20px;

}


.searchBox input {

  padding: 10px;

  width: 300px;

  border-radius: 5px;

  border: none;

}


.searchBox button {

  padding: 10px 20px;

  margin-left: 10px;

  background: #ff3c00;

  border: none;

  color: white;

  border-radius: 5px;

  cursor: pointer;

}



/* MOVIES */

.movies {

  display: flex;

  flex-wrap: wrap;

  gap: 20px;

  justify-content: center;

  padding: 20px;

}


/* CARD */

.card {

  cursor: pointer;

  transition: 0.3s;

  width: 180px;

  text-align: center;

}


.card img {

  width: 100%;

  border-radius: 10px;

}


.card:hover {

  transform: scale(1.1);

}


/* POPUP */

.popup {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: rgba(0, 0, 0, 0.9);

  display: flex;

  justify-content: center;

  align-items: center;

}


.popupBox {

  background: #111;

  padding: 20px;

  border-radius: 10px;

  text-align: center;

  width: 400px;

}


.popupBox img {

  width: 200px;

  margin-bottom: 10px;

}


.close {

  position: absolute;

  top: 20px;

  right: 30px;

  background: red;

  border: none;

  color: white;

  padding: 5px 10px;

  cursor: pointer;

}