.loginPage {

    height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    background: black;

    color: white;

}

.loginPage h1 {

    font-size: 80px;

    color: red;

    margin-bottom: 30px;

}

.loginPage button {

    padding: 20px 50px;

    font-size: 20px;

    background: red;

    border: none;

    color: white;

    border-radius: 10px;

    cursor: pointer;

}